@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Josefin+Sans&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto&display=swap');

.Cardcontainer{
    height: 50vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    /* background-color: rgb(238, 223, 84); */
}
.Cardcontainer img{
    height: auto;
    width: 35%;
}
.Cardcontainer h1{
    font-size: 20px;
    font-family: Open Sans;
    
}
.Cardcontainer h1 a {
    text-decoration: none;
    color: rgb(246, 100, 33);
}
.Cardcontainer p{
    text-align: center;
    font-family: Open Sans;
}
.Cardcontainer:hover{
    border-color:rgb(246, 100, 33) ;
    background: linear-gradient(to top, rgb(255, 175, 28), #f9d9bf);
}