.Ecomcataloge{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    /* align-items: center; */
    line-height: 1px;
    color: beige;
    background-color: rgb(84, 86, 87);
}
.Ecomcataloge h1{
    font-size: 40px;
    margin-left: 13%;
}
.Ecomcataloge p{
    font-size: 25px;
    margin-left: 13%;
}
.Ecomcataloge__intro{
    width: 80%;
    margin: auto;
}
.Ecomcataloge__intro h3{
    font-size: 30px;
    color: darkorange;
}
.Ecomcataloge__intro p{
    font-size: 18px;
    font-family: open sans;
}