.photo__head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1px;
}
.photo__head h1{
    font-size: 50px;
}
.photo__creat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.photo__servic{
    
    color: #f59e0b;
}
.photo__image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo__image h1{
    font-size: 50px;
}
.photo__image p{
    font-size: 22px;
}
.photo__editz{
    height: 120vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
}
.photo__cardphotoedit{
    height: 170vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.photo__apart{
    height: 100vh;
    width: 100%;
    display: flex;
}
.photo__apart1{
    height: 100vh;
    width: 50%;
}
.photo__aparthead{
    font-size: 40px;
    text-align: center;
}
.photo__apartinside{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.photo__apartbox1{
    height: 170px;
    width: 300px;
    padding-left: 10px;
    border-left: 4px solid aquamarine;
}
.photo__apartbox2{
    height: 170px;
    width: 300px;
    border-left: 4px solid aquamarine;
    padding-left: 10px;
}
.photo__apartbox3{
    height: 170px;
    width: 300px;
    border-left: 4px solid aquamarine;
    padding-left: 10px;
}
.photo__apartbox4{
    height: 170px;
    width: 300px;
    border-left: 4px solid aquamarine;
    padding-left: 10px;
}