.services{
    height:80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    font-weight: 400;
    background-color: #08141f;
    background-image: url("../../assets//images//global.jpg");
    background-position: center;
    background-size: cover;

}
.services1{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;  
    color: azure;
    
}
.services1 button{
    margin-top: 30px;
    height: 50px;
    width: 15%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 50px;
    cursor: pointer;
   
}
.services1 button a{
   text-decoration: none;
   color: black;
}

.services2{
    height: 50vh;
    width: 100%;
    background-size: 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services2 img{
   height: 57vh;
   width: 50%;
   margin-top: -50px;
   opacity: .8;

}
@media only screen and (max-width:480px) {
   .services1{
      display: flex;
      flex-direction: column;
      justify-content: center;
         }

      .services1 h1{
         font-size: 20px;
      }
      .services1 span{
         font-size: 10px;
      }
      .services1 button{
         width: 45%;
         height: 30px;
         font-size: 10px;
         
      }
}
@media only screen and (max-width:580px) {
   .services1 button{
      width: 25%;
      height: 40px;
      font-size: 11px;
   }
   .services1 h1{
      font-size: 17px;
   }
   .services1 span{
      font-size: 10px;
   }

}
@media only screen and (max-width:800px) {
   .services1 button{
      width: 15%;
      height: 40px;
      font-size: 13px;
   }
}





 
 