
.header__top{
    height: 10vh;
    width: 100%;   
    display: flex;
    justify-content: space-between;
}

.header__logo img{
    height: 10vh;    
}

.header__all{
    display: flex;
    font-size: 20px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.header__mail{
    display: flex;
}

.header__login img{
    height: 20px;
    margin-top: 10px;    
}

.header__mailcontent  {
    color: rgb(235, 135, 14);
    font-size: 15px;  
}
.header__right{
    display: flex;
    height: 10vh;
    width: 12%;
    justify-content: space-around;
    padding-right: 10px;
    
}

.header__right img{
    height: 23px;
    margin-top: 27px;
}
.header__right h6 a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.header__right span{
    margin-top: 20px;
    font-size: 23px;
}

.header__right h5 a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(235, 135, 14);
}
.header1 {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    
}


.header1-1{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
   
    list-style-type: none;
    background-color: #e3e3e0 ;
    /* border-right: 1px solid black; */
    
}

.header1-1-1-1{
    display: none;
}
.header1-1 li a{
    text-decoration: none;
    list-style-type: none;
}
.header1-1-1 {
    height: 7vh;
    width: 15%;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.header1-1-1 a{
    color: black;
}
.header1-1-1:hover{
    background-color:#A9A9A9;
}


.header1-1-1:hover .header1-1-1-1{
    display: block;
}

.humburger{
    display: none;
}
.humburger button{
    background: none;
    border: none;
    font-size: 20px;
}
.header2{
    display: none;
}



@media only screen and (max-width: 680px  )  {
    .header1{
        display: none;
    }
    .header__logo img{
        height: 8vh; 
        
    }
    .header2{
        display: contents;
        display: flex;
        align-items: center ;
        justify-content: center;
        flex-direction: row;
        height: 8vh;
        width: 100%;

    }

    .header2-1{
        height: 5vh;
        width: 90%;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;

    }
    .header2-1-2 img{
        height: 20px;
        margin-left: -20px;
        /* margin-top: 15px; */
    }
    .header2-1-2 span{
        display: flex;
        align-items: center;
      color: rgb(235, 135, 14);
        
    }
    
    .header__right{
        display: none;
    }
}
@media only screen and (max-width: 1100px){
    .header1-1{
        font-size: 11px;
    }
    .header__right{
        padding-right: 36px;
    }
}
@media only screen and (max-width: 760px){
    .header1-1{
        font-size: 9px;
        font-weight: bold;
        /* gap: 10px; */
    }
    .header__right{
        padding-right:  40px;
    }
}
